/*공통 폰트*/
body {
    font-family: 'Noto Sans KR',sans-serif;
    width: 100%;
    height: 100%;
        }
/*index페이지*/
.index_body {
    background-color: #1B1B1D;
    background-size: cover;
    font-family: 'Noto Sans KR',sans-serif;
}
.index_contents {
    color: #ffffff;
    position: relative;
    margin-top: 3.125rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
}
.index_box {
    font-size : 0.9375rem;
    font-weight: 300;
    text-align: center;
}
.index_login_naver {
   resize: both;
   float: center;
   position: relative;
   width: 11.375rem;
   height: auto;
   margin: 4.625rem 0;
}
.index_startbutton {
    position: relative;
    border-radius: 0.2rem;
    background-color: #F8F8F8;
    height: 2.45rem;
    width: 11.375rem;
    margin: 4.625rem 0;
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;

}
.index_startbutton_text {
    margin: 0px;
    padding-top: 0.6rem;
    color: #1B1B1D;

}
/*기본 프레임(하단탭,배경)*/
.frame_body {
    background-color: #1B1B1D;
}

.Bottomnavtab_item {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    height: 100%;
}
.Bottomnavtab_item > a {
    display: block;
    color: inherit;
    font-size: 10px;
    -webkit-letter-spacing: -0.1px;
    -moz-letter-spacing: -0.1px;
    -ms-letter-spacing: -0.1px;
    letter-spacing: -0.1px;
    text-decoration: none;
    line-height: 12px;
    width: 80px;
    height: 100%;
    margin: 0 auto;
}
.Bottomnavtab_item > a > svg {
    display: block;
    margin: 0 auto;
}
.Bottomnavtab_tabname {
    color: #ffffff;
}
.navtab{
    position: fixed;
    bottom: 0;
    z-index: 51;
    background: #1B1B1D;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0rem 0.0625rem 0.5rem;
    border-top-left-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
}
.navtab::after{
    content: "";
    display: block;
    background: #fff;
    height: env(safe-area-inset-bottom);
}
.Bottomnavtab {
    box-sizing: border-box;
    height: 5.3rem;
    padding: 5px 0 3px;
}
.Bottomnavtab_ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    overflow: hidden;
    padding-left: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}
/*(page2)*/
.count {
    font-size: 1.2rem;
    color: #FFFFFF;
    margin-top: 4rem;
    margin-bottom: 2.6rem;
    text-align: center;
}
.count_text {
    position: relative;
    z-index: 2;
    left: 31px;
}
.count_number {
    position: relative;
    font-size: 3.75rem;
    font-weight: 700;
    z-index: 1;
    right: 3.9375rem;
}
.unit_box {
    position: relative;
    background-color: #2A2A2A;
    border-radius: 18px;
    height: 21.875rem;
    width: 10.9375rem;
    box-shadow: 0px 3px 9px #000000;
    margin-left: auto;
    margin-right: auto;
    top: 1.25rem;
    color: #ffffff;
}
.beerimg {
    position: relative;
    text-align: center;
    top: 1.625rem;
}
.beername {
    position: relative;
    text-align: center;
    top: 1.4375rem;
    font-size: 0.9375rem;
    font-weight: 500;
}
.rating {
    position: relative;
    text-align: center;
    top: 0.67rem;
    margin-right: 0.5rem;
    margin-bottom: 0;
}
.rating_average {
    position: relative;
    text-align: center;
    font-size: 0.6875rem;
    font-weight: 500;
    color: #CCCCCC;
    top: 0.58rem;
    margin-top: 0;
}
.profiling_search_box {
    position: relative;
    text-align: center;
    top: 2.5rem;
}
.profiling_reommend_button {
    position: relative;
    border: 0.0625rem solid #8D8D8D;
    border-radius: 0.375rem;
    height: 2.1875rem;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    top: 3.25rem;
}
.profiling_reommend_button_text {
    color: #8D8D8D;
    position: relative;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*page3*/
.recommend_header_box {
    position: relative;
    background-color: #DEDEDE;
    border-bottom-right-radius : 0.75rem;
    border-bottom-left-radius: 0.75rem;
    height: 6.375rem;
    width: 23.4375rem;
    margin-left: auto;
    margin-right: auto;
}
.recommend_header_text {
    position: relative;
    text-align: center;
    margin-top: 4.3125rem;
    margin-bottom: 0px;
    font-size: 1.375rem;
    font-weight: 700;
}
/*.recommend_header_search_box {
    position: relative;
    text-align: center;
    top: 4rem;
}*/
.recommend_contents_text {
    position: relative;
    text-align: center;
    font-weight: 300;
    font-size: 0.9375rem;
    margin-top: 0.8rem;
    margin-bottom: 2.8rem;
    color: #ffffff;
}
.recommend_contents_result_1 {
    position: relative;
    background-color: #231F20;
    border-radius: 6px;
/*
    height: 9.8125rem;
    width: 19.9375rem;
*/
    overflow : hidden;
    /* height : 9.875rem; */
    max-width : 319.19px;
    width: 88.65%;
    box-shadow: 0px 3px 9px #000000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
}
.recommend_contents_result_1_open {
    z-index: 21;
    position: relative;
    background-color: #231F20;
    border-radius: 6px;
    overflow : hidden;
    /* height: 19.431875rem; */
    width: 19.9375rem;
    box-shadow: 0px 3px 9px #000000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}
.recommend_contents_result_1_box_thumb {
    display: inline-block;
    z-index: 22;
    position: relative;
    border-radius: 0.6875rem;
    background-color: #231F20;
    /* background-image: url(img/Stone-Tangerine-Express-IPA.jpeg); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 8.875rem;
    width: 5.375rem;
    margin-left: 3%;
    margin-right: 0;
    margin-top: 0.4375rem;
}
.recommend_contents_result_1_box_infobox1 {
    z-index: 22;
    position: relative;
    left : 0.5rem;
    margin-right: 1.5rem;
}
.recommend_contents_result_1_box_infobox1_beername {
    z-index: 22;
    position: relative;
    font-size: 0.9375rem;
    font-weight: 500;
    color: #F8F8F8;
    margin-bottom: 0.2rem;
}
.recommend_contents_result_1_box_infobox1_beertag {
    display: inline-block;
    z-index: 22;
    background-color: #F8F8F8;
    border-radius: 1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.08em;
    color: #000000;
    font-size: 0.65625rem;
    font-weight: 500;
    height: 0.9rem;
}
.recommend_contents_result_1_box_infobox1_beertag_next{
    display: inline-block;
    z-index: 22;
    background-color: #F8F8F8;
    border-radius: 1rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.08em;
    color: #000000;
    font-size: 0.65625rem;
    font-weight: 500;
    margin-left: 0.08rem;
    height: 0.9rem;
}
.recommend_contents_result_1_box_infobox1_beerstyle {
    display: inline-block;
    z-index: 22;
    position: relative;
    font-size: 0.6875rem;
    font-weight: 500;
    color: #F8F8F8;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.recommend_contents_result_1_box_infobox1_beerABV {
    display: inline;
    z-index: 22;
    position: relative;
    font-size: 0.6875rem;
    font-weight: 500;
    color: #F8F8F8;
    margin-bottom: 0.5rem;
    margin-left: 0.8rem;
}
.recommend_contents_result_1_box_infobox1_beerNation {
    display: inline;
    z-index: 22;
    position: relative;
    font-size: 0.6875rem;
    font-weight: 500;
    color: #F8F8F8;
    margin-bottom: 0.5rem;
    margin-left: 0.8rem;
}
.recommend_contents_result_1_box_infobox1_beershortinfo {
    z-index: 22;
    position: relative;
    font-size: 0.625rem;
    font-weight: 500;
    color: #F8F8F8;
    width: 12rem;
    margin: 0rem;
    text-align: left;
    word-break: keep-all;
    line-height: 135%;
}
.recommend_contents_result_1_box_infobox1_beersprice {
    z-index: 22;
    position: relative;
    font-size: 0.625rem;
    font-weight: 500;
    color: #F8F8F8;
    width: 12rem;
    margin: 0rem;
    text-align: right;
    word-break: keep-all;
}
.recommend_contents_result_1_box_infobox1_reviewbutton {
    display: inline-block;
    z-index: 22;
    position: relative;
    background-color: #F8F8F8;
    border-radius: 0.1875rem;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-top: 0.08em;
    color: #636363;
    font-size: 0.65625rem;
    font-weight: bold;
    height: 1.2775rem;
    width: 9.256875rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-left: 0.6rem;
    margin-bottom: 0.5rem;
}
.recommend_contents_result_1_box_infobox1_reviewbutton_text {
    z-index: 22;
    margin-top: 0.23125rem;
    margin-bottom: 0.23125rem;
    font-size: 0.6875rem;
    color: #000000;
}
.recommend_contents_result_1_box_beerfitscore {
    z-index: 30;
    position: absolute;
    width: 2.3rem;
    height: 2.3rem;
    border-radius: 50%;
    border: 0.1rem dotted #61FF07;
    right: 0.3rem;
    top: 0.3rem;
    text-align: center;
}
.recommend_contents_result_1_box_beerfitscore_good {
    font-size: 0.9375rem;
    color: #61FF07;
    margin-top: 0.625rem;
}
.recommend_contents_result_1_box {
    display: flex;
    flex-direction: row;
}
.recommend_contents_result_1_rating {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.recommend_contents_result_1_shortreview {
    padding-left: 0.8rem;
}
.recommend_contents_result_1_shortreview_title {
    position: relative;
    font-size: 0.625rem;
    font-weight: bold;
    color: #F8F8F8;
    text-align: left;
    word-break: keep-all;
    line-height: 135%;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.recommend_contents_result_1_shortreview_box {
    background-color: #F8F8F8;
    border: 0.03125rem solid #707070;
    border-radius: 0.25rem;
    height: 1.25rem;
    width: 18.3125rem;
}
.recommend_contents_result_1_bottom {
    display: flex;
    flex-direction: row;
}
.recommend_contents_result_1_bottom_button_done {
    background-color: #F8F8F8;
    border-radius: 0.4375rem;
    height: 1.1875rem;
    width: 4.1875rem;
    text-align: center;
    font-size: 0.625rem;
    margin-top: 1rem;
    margin-left: 8.27rem;
}
.recommend_contents_result_1_bottom_button_done_text {
    margin-top: 0.2rem;
}
/*page4*/
.mypage_header_box {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #1B1B1D;
    border-bottom-right-radius : 0.75rem;
    border-bottom-left-radius: 0.75rem;
    height: 10.90625rem;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    box-shadow: 0px 3px 9px #000000;
}
.mypage_header_profilephoto {
    z-index: 20;
    height: 5.3125rem;
    width: 5.3125rem;
    border-radius: 50%;
    border: 1px solid #707070;
    background-size: cover;
    margin-left: 2.1875rem;
    margin-top: 2.875rem;
}
.mypage_header_statusbox {
    display: inline-block;
    position: relative;
    margin-left: 2.45rem;
    margin-top: 3rem;
    font-size: 1.0625rem;
}
.mypage_header_statusbox_text1 {
    /* position: relative;
    text-align: center; */
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.0625rem;
    font-weight: 400;
    top: 0rem;

}
.mypage_header_statusbox_number {
    /* position: relative; */
    /* font-size: 3rem;
    font-weight: 600; */
    /* text-align: center; */
    margin-top: 0px;
    margin-bottom: 0px;
    /* right: 5rem; */
}
.mypage_header_statusbox_text2 {
    z-index: 21;
    position: relative;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.0625rem;
    font-weight: 400;
    top: 0.4rem;
    right: 1.7rem;

}
.mypage_header_profileid {
    margin-top: 0.5rem;
    margin-bottom: 0;
    margin-left: 3.8125rem;
    font-size: 0.75rem;
    font-weight: 300;
    color: #D6D6D6;
}
.mypage_section_textbox {
    position: relative;
    text-align: center;
    color: #ffffff;
}
.mypage_section_textbox_L {
    display: inline-block;
    position: relative;
    margin-top: 2rem;
    margin-left: 0;
    margin-right: auto;
    margin-bottom: 0.5rem;
    font-size: 0.9375rem;
    width: auto;
}
.mypage_section_textbox_R {
    position: relative;
    display: inline-block;
    text-align: right;
    margin-top: 1rem;
    margin-right: 0;
    /* 이거 좀 수정했음 */
    margin-left: 9.5rem;
    font-size: 0.9375rem;
    width: auto;
}
.mypage_section_textbox_L_title {
    position: relative;
    margin-left: 1rem;
    margin-top: 0.2625rem;
    font-weight: bold;
}
.mypage_section_textbox_R_all {
    position: relative;
    margin-right: 1rem;
    border: 1px solid #ffffff;
    border-radius: 0.5625rem;
    padding: 0.2rem;
    font-weight: bold;
}
.mypage_section_textbox_R_store_1 {
    position: relative;
    margin-right: 1.8rem;
    margin-top: 0.2625rem;
}
.mypage_section_historybox_c_1 {
    position: relative;
    background-color: #231F20;
    border-radius: 0.375rem;
    height: 8.744375rem;
    width: 20.886875rem;
    box-shadow: 0px 3px 9px #000000;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.mypage_section_historybox_c_2 {
    position: relative;
    background-color: #DEDEDE;
    border-radius: 0.375rem;
    height: 8.744375rem;
    width: 20.886875rem;
    box-shadow: 0px 3px 9px #636363;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    top: 3.3rem;
}
.mypage_section_historybox_c_3 {
    position: relative;
    background-color: #DEDEDE;
    border-radius: 0.375rem;
    height: 8.744375rem;
    width: 20.886875rem;
    box-shadow: 0px 3px 9px #636363;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    top: 3.3rem;
}
.mypage_section_historybox_c_4 {
    position: relative;
    background-color: #DEDEDE;
    border-radius: 0.375rem;
    height: 8.744375rem;
    width: 20.886875rem;
    box-shadow: 0px 3px 9px #636363;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    top: 3.3rem;
}
.mypage_section_historybox_c_5 {
    position: relative;
    background-color: #DEDEDE;
    border-radius: 0.375rem;
    height: 8.744375rem;
    width: 20.886875rem;
    box-shadow: 0px 3px 9px #636363;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    top: 3.3rem;
}
.mypage_section_historybox_c_1_contents{
    display: flex;
    flex-direction: row;
    margin-right: 0;
}
.mypage_section_historybox_c_1_contents_thumb{
    z-index: 22;
    display: inline-block;
    position: relative;
    border-radius: 0.6875rem;
    background-color: #231F20;
    /* background-image: url(img/Stone-Tangerine-Express-IPA.jpeg); */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 7.28125rem;
    width: 4.375rem;
    margin-left: 0.5rem;
    margin-right: 0;
    margin-top: 0.75rem;
}
.mypage_section_historybox_c_1_contents_infobox {
    position: relative;
    margin-left : 0.8rem;
    width: auto;
    text-align: left;
}
.mypage_section_historybox_c_1_contents_infobox_beername {
    margin-bottom: 0rem;
    margin-top: 0.5rem;
    font-weight: 600;
}
.mypage_section_historybox_c_1_contents_infobox_rating {
    position: relative;
    margin-bottom: 0rem;
    margin-top: 0rem;
}
.mshc1cir {
    resize: both;
    width: 9.375rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
}
.mypage_section_historybox_c_1_contents_infobox_check {
    position: relative;
    font-size: 0.5625rem;
    font-weight: 300;
    text-align: right;
    margin-bottom: 0rem;
    margin-top: 0.5rem;
}
.mypage_section_historybox_c_1_contents_infobox_sreview {
    position: relative;
    margin-bottom: 0.3rem;
    margin-top: 0rem;
    font-size: 0.625rem;
    font-weight: 300;
    text-align: left;
}
.mypage_section_historybox_c_1_contents_infobox_sreviewbox {
    background-color: #F8F8F8;
    border: 0.03125rem solid #707070;
    border-radius: 0.25rem;
    height: 1.25rem;
    width: 14.10625rem;
}




.index_logobox {
   resize: both;
   float: center;
   position: relative;
   width: 9.735625rem;
   height: auto;
   margin-top: 7.375rem;
}

.index_spot {
    color: #ffffff;
    position: relative;
    margin-top: 4.375rem;
    margin-bottom: 0;
    font-weight: 500;
}

.index_bevvy_logo {
    position: relative;
}

.index_spot_icon {
    resize: both;
    position: relative;
    width: 1.2rem;
}

.index_spot_contents {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.index_contents_text2 {
    margin-bottom: 0;
}



.recommend_header {
    color: #ffffff;
}




.mypage_center{
  margin-right: auto;
  margin-left: auto;
  max-width : 400px;
}


section {
    margin-bottom: 7rem;
}
