<link href="https://d2rlq84xifqisi.cloudfront.net/stylesheets/web/libs.cdd1fdf79cd6bec30c42.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900">

{% load static %}

<!-- {% block css %}
<link rel="stylesheet" href=" {% static '/css/rating.css' %}">
{% endblock css %} -->

<footer class="navtab">
        <nav class="Bottomnavtab">
          <ul class="Bottomnavtab_ul">
            <il class="Bottomnavtab_item">
                <a href="pagelink" style="width: 60px;">
                    <img src="/static/img/store.png">
                    <div class="Bottomnavtab_tabname" style="margin-top: 2px;">맥주정보</div>
                </a>
            </il>
            <il class="Bottomnavtab_item">
                <a href="pagelink" style="width: 60px;">
                    <img src="/static/img/profile.png" style="margin-top: 0.5px;">
                    <div class="Bottomnavtab_tabname" style="margin-top: 4.7px;">평가하기</div>
                </a>
            </il>
            <il class="Bottomnavtab_item">
                <a href="pagelink">
                    <img src="/static/img/bevvy_logo_s.png">
                </a>
            </il>
            <il class="Bottomnavtab_item">
                <a href="pagelink" style="width: 60px;">
                    <img src="/static/img/recommend.png" style="margin-top: 1px;">
                    <div class="Bottomnavtab_tabname" style="margin-top: 4.2px;">추천받기</div>
                </a>
            </il>
            <il class="Bottomnavtab_item">
                <a href="pagelink" style="width: 60px;">
                    <img src="/static/img/mypage.png">
                    <div class="Bottomnavtab_tabname" style="margin-top: 5.2px;">마이페이지</div>
                </a>
            </il>
          </ul>
        </nav>
    </footer>
