<html>
    <head>
      <title>BEVVY Beers</title>
    </head>
    <body>
        <div>
            <h1><a href="">Oh my bevvy bevvy</a></h1>
        </div>
              <div>
                  <h1><a href="">{{ beer1.beer_name }}</a></h1>
                  <h1><a href="">{{ rate1 }}</a></h1>
                  <h1><a href="">{{ beer2.beer_name }}</a></h1>
                  <h1><a href="">{{ rate2 }}</a></h1>
                  <h1><a href="">{{ beer3.beer_name }}</a></h1>
                  <h1><a href="">{{ rate3 }}</a></h1>
              </div>

    </body>
</html>
